@model CardinalProject.ViewModels.ServiceProviderViewModel

@{
    ViewData["Title"] = "Create Service Provider";
}

<h2>Create Service Provider</h2>

<form asp-action="Create" method="post" class="needs-validation" novalidate>
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PostCode" class="form-label"></label>
        <input asp-for="PostCode" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Website" class="form-label"></label>
        <input asp-for="Website" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>


    <div class="mb-3 form-check">
        <input asp-for="IsActive" class="form-check-input" />
        <label asp-for="IsActive" class="form-check-label"></label>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index" class="btn btn-secondary ms-2">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
